@import '../../assets/styles/variables.less';

.container-login {
    width: 300px;
    margin: 0 auto;

    .login-header {
        margin-top: 40px;
        text-align: center;

        .login-logo {
            border-radius: 2px;
        }

        .login-title {
            margin: 15px 0 30px 0;
            color: @textColorTitle;
            font-size: 23px;
        }
    }

    .login-error {
        margin-bottom: @mainSpace;
        padding: @mainSpace * 1.5 @mainSpace * 2;
        color: @dangerColor;
    }

    .form-login {
        padding: @mainSpace * 2;
        background: #fff;
    }
}
