@import '../../assets/styles/variables.less';

@minHeight: 300px;

.container-article-new {
    display: flex;
    flex-wrap: wrap;

    &.fullscreen {
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        overflow-y: scroll;

        .article-textarea,
        .article-preview {
            min-height: 100%;
        }
    }

    &.input,
    &.input\&view {
        & .article-textarea {
            display: block;
        }
    }
    &.view,
    &.input\&view {
        & .article-preview {
            display: block;
        }
    }

    &.input\&view .article-preview {
        border-left: 1px solid @borderColor;
    }

    .actions {
        width: 100%;
        padding: @mainSpace;
        border-bottom: 4px solid #e0e0e0;
        background: #fff;
    }

    .article-textarea,
    .article-preview {
        flex: 1;
        min-height: 300px;
        padding: @mainSpace;
        background: #fff;
        display: none;
    }

    .article-textarea {
        border-color: @borderColor;
        font-size: 14px;
    }

    .editor-logo {
        position: relative;
        top: -2px;
        margin-right: @mainSpace;
        vertical-align: middle;
    }
}

// 全屏模式
.markdowned:fullscreen {
  position: relative;
  margin-top: 0;
  width: 100%;
  padding: 0;
  background: #f8f8f8;
  overflow: auto;

  &::-webkit-scrollbar {
    width: 4px;
    background: transparent;
    cursor: pointer;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background: @mainColor;

    &:hover { background: #000 }
  }

  & > .title {
    position: absolute;
    left: 50%;
    top: 70px;
    display: block;
    margin-left: -310px;
    width: 620px;
  }

  & > .body {
    width: 800px;
    min-height: 100vh;
    margin: 20px auto;
    padding: 100px 90px 70px 90px;
    background-color: #fff;
    box-shadow: 0 1px 10px 2px rgba(0,0,0,.06);
    border: 1px solid #e5e5e5;
    box-sizing: border-box;
  }
}

.markdowned {
    color: #555;
    line-height: 20px;
    overflow: hidden;

    .title {
      display: none;
      margin: 0;
      font-weight: 500;
    }
      
    h1, h2, h3, h4, h5, h6 {
      margin: 32px 0;
      font-weight: 500;
      color: #000;
    }
    h1 {
      font-size: 30px;
      line-height: 30px;
    }
    h2 {
      font-size: 24px;
      line-height: 24px;
    }
    h3 {
      font-size: 20px;
    }
    h4 {
      font-size: 16px;
    }
    h5 {
      font-size: 14px;
    }
    h6 {
      font-size: 12px;
    }
    ol, ul {
      padding-left: 1.5em;
      list-style: circle;
    }
    ol { list-style: decimal }
    ol ol { list-style: lower-roman }
    ul + ul, ul + ol, ol + ol, ol + ul {
      margin-top: 16px;
    }
  
    p, pre, img, table {
      margin: 16px 0;
    }
  
    code {
      padding: 0 4px;
    }
    pre > code {
      display: block;
      padding: 16px;
      border-radius: 3px;
      overflow-x: auto;
    }
  
    em {
      font-style: italic;
    }
    b, strong {
      font-weight: bold;
    }
  
    blockquote {
      padding: 0 1em;
      color: #6a737d;
      border-left: 0.25em solid #dfe2e5;
    }
  
    sub {
      vertical-align: sub;
      font-size: smaller;
    }
    sup {
      vertical-align: super;
      font-size: smaller;
    }
    small {
      font-size: smaller;
    }
  
    img {
      max-width: 100%;
      vertical-align: middle;
    }
    td > img {
      margin: 0;
    }
  
    table th {
      color: #000;
      font-weight: 600;
    }
    table th, table td {
      padding: 6px 13px;
      border: 1px solid #dfe2e5;
      // text-align: left;
      vertical-align: middle;
    }
    table tr:nth-child(2n) {
      background-color: #f6f8fa;
    }
    table span {
      width: auto;
    }
    
    .mermaid {
      text-align: center;
    }
}
