@import '../../assets/styles/variables.less';

@minHeight: 300px;

.container-article-new {
    display: flex;

    .article-textarea,
    .article-preview {
        flex: 1;
        min-height: 300px;
        padding: @mainSpace;
        border-left: 1px solid @borderColor;
        background: #fff;
    }

    .article-textarea {
        // margin-right: @mainSpace;
        border-color: @borderColor;
        font-size: 14px;
    }
}
