@import './styles/reset.css';
@import './styles/variables.less';
@import './styles/components.less';

body {
	color: @textColor;
    font-size: @textSize;
	font-family: @textFont;
    background: #f0f0f0;
}

// 相关文本属性
abbr { text-decoration: none; }
a {
	color: @linkColor;
	text-decoration: none;
	// outline: none;
	
	&:not([role="button"]):hover {
		text-decoration: underline;
		color: @activeColor;
	}
}
code, pre {
	font-family: Consolas, Monaco, Menlo;
	background: #f5f5f5;
}

kbd {
	padding: 0 4px;
	color: #fff;
	background-color: @textColor;
	border-radius: 4px;
}

input:-webkit-autofill { 
	box-shadow: 0 0 0px 1000px #fff inset;
}

#app {
	// background: #f5f5f5;
	
	.container {
		min-height: 350px;
		padding: @mainSpace * 2;
		background: #fff;	
	}
	
    .footer {
        padding: 20px 0 10px;
        color: #999;
        font-size: 12px;
        text-align: center;
    }
}
