@import './assets/styles/reset.css';
@import './assets/styles/variables.less';

body {
	color: @textColor;
    font-size: @textSize;
	font-family: @textFont;
    background: #f0f0f0;
}

// 相关文本属性
abbr { text-decoration: none; }
a {
	color: @linkColor;
	text-decoration: none;
	outline: none;
	
	&:hover {
		color: @activeColor;
	}
}
code, pre {
	font-family: Consolas, Monaco, Menlo;
	background: #f5f5f5;
}

#app {
    // background: #f5f5f5;
}
