@import '../../assets/styles/variables.less';

.filter-comment {
    .filter-title {
        flex-basis: 30%;
        color: @textColorTitle;
    }

    .filter-content {
        color: @textColorDesc;
    }

    .form-item {
        transform-origin: left top;
        transform: scale(0.8);
    }

    .form-input {
        width: @mostUseLength;
    }
}
