@import '../../assets/styles/variables.less';

.tab-comment {
    background: #fff;
    border-bottom: 1px solid @borderColor;
}

.container-comment .table-comment {
    .comment-name-unknow {
        color: @placeholderColor;
        user-select: none;
    }
    .comment-name-admin {
        border-left: 4px solid @mainColor;
        padding-left: 10px;
        margin-left: -14px;
    }

    .comment-actions {
        a {
            color: @linkColor;
            cursor: pointer;
        }
        a.disabled {
            color: @placeholderColor;
            pointer-events: none;
        }

        .divider {
            margin: 0 @mainSpace / 2;
            color: @placeholderColor;
        }    
    }
}
